body{
    background-image: url('../../assets/wave2.svg'), radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.container{
    margin-bottom: 5%;
}
.floatContainer{
    margin-top: 6em;
    margin-bottom: 5%;
}
.float-right{
    width: 50%;
    float: right;
    padding: 10px;
}

.float-left{
    width: 50%;
    float: left;
    padding: 10px;
}